.nav {
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 2.98256px 7.4564px rgb(0, 0, 0, 0.1);
}
.nav--brand {
    display: flex;
}
.nav--brand > img {
    height: 55px;
    margin-left: 15px;
    margin-right: 10px;
}
.nav--items {
    margin: 0 20px 0 0;
    display: flex;
    height: 100%;
}
.nav--items > li {
    transition: 0.3s;
    list-style: none;
    padding: 20px 20px 20px 20px;
}
.nav--items > li:hover {
    transition: 0.3s;
    background-color: rgb(231, 231, 231);
}